{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Edit Profile</h3>
                    </div>
                    <div class="card-body">
                        <form method="post" hx-post="{% url 'members:staff_edit_account' %}" hx-target="#dynamic-content" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="mb-3">
                                {% render_field form.username class="form-control" placeholder="Enter your username" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.first_name class="form-control" placeholder="Enter your first name" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.last_name class="form-control" placeholder="Enter your last name" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.other_name class="form-control" placeholder="Enter your Other name" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.email class="form-control" placeholder="Enter your email" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.address class="form-control" placeholder="Enter your address" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.contact class="form-control" placeholder="Enter your contact number" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.password class="form-control" placeholder="Enter your password" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.image class="form-control" %}
                            </div>
                            <div class="mb-3">
                                {% render_field form.is_staff class="form-check-input" %}
                                <label class="form-check-label" for="id_is_staff">Staff</label>
                            </div>
                            <div class="mb-3">
                                {% render_field form.is_superuser class="form-check-input" %}
                                <label class="form-check-label" for="id_is_superuser">Superuser</label>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Update Profile</button>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        {% if messages %}
                            <div class="alert alert-success mt-2">
                                {% for message in messages %}
                                    {{ message }}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
