{% extends 'base.html' %}

{% block content %}

<h3 class="mb-4">{{ title }} Transactions</h3>

<table class="table table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Month</th>
      <th scope="col">Name</th>
      <th scope="col">Savings</th>
      <th scope="col">Divine Touch</th>
      <th scope="col">SP SAV</th>
      <th scope="col">RSS</th>
      <th scope="col">Loan Repay</th>
      <th scope="col">Interest</th>
      <th scope="col">Commod</th>
      <th scope="col">Received</th>
    </tr>
  </thead>
  <tbody>
    {% for transaction in transactions %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ transaction.owner.first_name }} {{ transaction.owner.last_name }}</td>
        <td>{{ transaction.savings }}</td>
        <td>{{ transaction.divine_touch }}</td>
        <td>{{ transaction.sp_sav }}</td>
        <td>{{ transaction.rss }}</td>
        <td>{{ transaction.loan_repay }}</td>
        <td>{{ transaction.interest }}</td>
        <td>{{ transaction.commod }}</td>
      </tr>
    {% endfor %}

    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock content %}
