{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">

  {% if messages %}
    <div class="alert alert-info">
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}

  <h2 class="text-center">Savings Account Management</h2>

  <!-- Instructions Section -->
  <div class="alert alert-info mb-4">
    <strong>Instructions:</strong> 
    <ul>
      <li>The "Upload" button is for uploading the required data using the Excel template. Please fill out the template and upload it here.</li>
      <li>If you decide not to upload the required data, the "Account Operations" button allows you to enter the necessary data for each member using the application form.</li>
      <li>The "Edit" button allows you to correct any mistakes in the data for a particular month.</li>
    </ul>
  </div>

  <div class="row p-3 mt-3">
    <!-- Operations Section -->
    <div class="col-md-6">
      <h4>Operations</h4>
      <h3><a hx-get="{% url 'savings:deposit' %}" hx-target="#dynamic-content" class="btn btn-outline-info">Account Operations</a></h3>
      <h3><a class="btn btn-outline-info" hx-get="{% url 'savings:edit_saving_account' %}" hx-target="#dynamic-content">Edit</a></h3>
      <h3><a class="btn btn-outline-info" hx-get="{% url 'savings:upload_savings' %}" hx-target="#dynamic-content">Upload</a></h3>
      <h3><a class="btn btn-outline-info invisible" hx-get="{% url 'savings:add_commodity_account' %}" hx-target="#dynamic-content">Commodity</a></h3>
      <h3><a class="btn btn-outline-info invisible" hx-get="{% url 'savings:add_loan_account' %}" hx-target="#dynamic-content">Loan</a></h3>
    </div>

    <!-- Transactions Section (Invisible for now) -->
    <div class="col-md-6 invisible">
      <h4>Transactions</h4>
      <h3><a hx-get="{% url 'savings:transactions' %}" hx-target="#dynamic-content" class="btn btn-outline-primary">All Deposit Transactions</a></h3>
      <h3><a hx-get="{% url 'savings:teller_savings_transactions' %}" hx-target="#dynamic-content" class="btn btn-outline-primary">Teller Transactions</a></h3>
      <h3><a hx-get="{% url 'savings:oracle_savings_transactions' %}" hx-target="#dynamic-content" class="btn btn-outline-primary">Oracle Transactions</a></h3>
    </div>
  </div>

</div>

{% endblock %}